body {
  margin: 0; padding: 0;
  background: #111;
  display: flex; flex-direction: column; align-items: center;
  font-family: Arial, sans-serif;
}
canvas {
  border: 2px solid #222;
  background: url('img/bg.png') center/cover no-repeat;
  border-radius: 6px;
  display: block;
  box-shadow: 0 10px 32px #0005;
}
.score-board {
  font-size: 18px;
  margin: 18px 0 0 0;
  color: #fafafa;
  background: #222c;
  padding: 6px 22px;
  border-radius: 8px;
}
